*~
*.bak
Thumbs.db
desktop.ini
.DS_Store
.buildpath
.project
.settings
fuel/app/logs/*/*/*
fuel/app/cache/*/*
nbproject/
.idea
/vendor/
/tests/fuel/
composer.lock
.phpunit.result.cache
composer.phar
tests/app/logs/